body{
    font-family: roboto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;

}

/*{
    border: 2px solid red;
}*/


.header{
    background-color:#1F2937;
    margin: 0px;
    padding: 0px;
    flex:1;
    display: flex;
    flex-direction: column;
}


.top{
    font-size: 24px;
    color: #F9FAF8;
}

.text{
    font-size: 18px;
    color: #E5E7EB;
}

.headlist{
    list-style-type: none;
}


.headlist li a{
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;

}


p#mh{
    font-size: 48px;
    font-weight:800;
    color:#F9FAF8;
}

button{
    background-color: #3882F6;
    color:white;
    margin-bottom: 10px;
    border-radius: 25px;
}


.tophead{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headlist{
    display: flex;
    gap:1rem;
}


.bottomhead{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.bottop{
    display:flex;
    flex-direction: column;
}

.bottop button{
    flex: 1 1 auto;
    width:80px;
    
}

.botbot{
    display:flex;
    justify-content: center;
    align-items: center;
}


.randomtext{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}



.quote{
    display: flex;
    justify-content: stretch;
}



.quotetext{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    margin-top: 80px;
    padding: 50px;
   
}

.imgcontain{
    display: flex;
    gap:4rem;
}


.adbox{
    background-color: #3882F6;
    color: white;
    width:1000px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
}

.ad{
    display:flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;

}


.right{
    align-self: center;
}


#fakebutton{
    border: 2px solid white;
    border-radius: 14px;
    width:80px;
    padding-left: 25px;
}

.footer{
    background-color: #1F2937;
    font-size: 10px;
    color:white;
    text-align: center;
}